/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

label {
  display: block;
  margin: 10px 0;
}

input {
  margin-left: 10px;
}

h3 {
  margin-top: 20px;
}
